.container {
  display: block;
  height: auto;

  &.spacing {
    padding-top: 84px;
    padding-bottom: 64px;

    @include tablet {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
}
