.awards {
  flex-wrap: wrap !important;
  @include tablet {
    gap: 16px !important;
  }

  > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
      @include tablet {
        width: 80px;
      }
    }
  }
}
.heading {
  text-align: center;
  width: 100%;
  margin-bottom: 48px;
  letter-spacing: -0.48px;
}
