.awards {
  flex-wrap: wrap !important;
  @include tablet {
    gap: 16px !important;
  }

  > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 140px;
      @include tablet {
        width: 80px;
      }
    }
  }
}
