.home {
  .pageHeading {
    max-width: 778px;
    text-align: center;
    padding: 64px 16px;
    margin: 0 auto;
  }
  .dreamTourContainer {
    > div {
      background-color: var(--color-tertiary);
      @include tablet {
        padding: 0;
      }
    }
  }

  .notSureContainer {
    > div {
      background-color: var(--color-tertiary);
      @include tablet {
        padding: 0;
      }
    }
  }
}

.statesSlider,
.luxurySlider {
  background-color: var(--color-secondary);
}
