.home {
  .pageHeading {
    max-width: 778px;
    text-align: center;
    padding: 64px 16px;
    margin: 0 auto;
  }
  .dreamTourContainer {
    background-color: var(--color-tertiary);
    @include tablet {
      padding: 48px 0;
    }
  }
  .partnersSection {
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
