.home {
  .pageHeading {
    max-width: 778px;
    text-align: center;
    padding: 64px 16px;
    margin: 0 auto;
  }
  .dreamTourContainer {
    background-color: var(--color-tertiary);
    @include tablet {
      padding: 48px 0;
    }
  }
}
