.metrics {
  flex-wrap: wrap !important;
  padding: 20px;
  border: 3px solid var(--color-primary);
  margin: 52px 0;
  gap: 16px !important;
  position: relative;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  @include tablet {
    justify-content: center !important;
    padding: 12px;
    margin: 38px 0;
    border-width: 2px;
  }

  @include laptop {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > div {
    flex: 1;
  }
  .text {
    line-height: 83.2px;
    @include tablet {
      font-size: 40px !important;
      line-height: 52px;
    }
    ~ p {
      @include tablet {
        font-size: 24px !important;
        font-style: normal;
      }
    }
  }
  h5 {
    text-align: center;
    white-space: nowrap;
    @include tablet {
      font-size: 16px !important;
    }
  }

  .star {
    position: absolute;
    right: -22px;
    top: -22px;

    @include laptop {
      display: none;
    }
  }
}
