.item {
  padding: 16px;
  border-radius: 4px;
  min-width: 292px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  .icon {
    width: 24px;
    color: var(--neutral-900);
    transition: all 0.3s ease-in-out;
  }

  h6 {
    line-height: 28px;
  }
  p {
    color: var(--neutral-300) !important;
  }
  &:hover {
    background-color: var(--color-primary-light);
    .icon {
      color: var(--color-primary);
    }
    p {
      color: var(--neutral-300) !important;
    }
  }
}
