.heading {
  text-align: center;
  letter-spacing: -0.48px;
}
.sectionHeading {
  padding-top: 84px;
  margin-bottom: 48px;
  overflow: hidden;
  @include tablet {
    justify-content: space-between !important;
    padding-top: 48px;
  }
}
.rightImage {
  transform: rotate(-180deg);
  @include tablet {
    margin-right: -40px;
  }
}
img {
  @include tablet {
    width: 80px;
  }
}
.leftImage {
  @include tablet {
    margin-left: -40px;
  }
}
