.h1 {
  font-size: 56px;
  font-weight: normal;
  line-height: 72.8px;
}
.h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 57.6px;
  letter-spacing: -0.96px;
}
.h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 44.8px;
}
.h4 {
  font-size: 28px;
  font-weight: normal;
  line-height: 30.8px;
}
.h5 {
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
}
.h6 {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.p {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.font_26 {
  line-height: 28.6px;
  letter-spacing: 0.26px;
}

.regular {
  @include regular;
}
.medium {
  @include medium;
}
.semibold {
  @include semibold;
}
.bold {
  @include bold;
}
