.h1 {
  font-size: 56px;
  font-weight: normal;
  line-height: 72.8px;
  @include tablet {
    font-size: 32px;
    line-height: 44.8px;
  }
}
.h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 57.6px;
  letter-spacing: -0.96px;
  @include tablet {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 44.8px;
}
.h4 {
  font-size: 28px;
  font-weight: normal;

  @include tablet {
    font-size: 20px;
    line-height: 22px;
  }
}
.h5 {
  font-size: 24px;
  font-weight: normal;
  @include tablet {
    font-size: 20px;

    line-height: 26px;
  }
}
.h6 {
  font-size: 20px;
  font-weight: normal;
}
.p {
  font-size: 16px;
  font-weight: normal;
}

.font_26 {
  line-height: 28.6px;
  letter-spacing: 0.26px;
}

.regular {
  @include regular;
}
.medium {
  @include medium;
}
.semibold {
  @include semibold;
}
.bold {
  @include bold;
}
