@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./public/fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./public/fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('./public/fonts/Gilroy-SemiBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./public/fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin regular {
  font-family: 'Gilroy-Regular';
}

@mixin medium {
  font-family: 'Gilroy-Medium';
}

@mixin semibold {
  font-family: 'Gilroy-Semibold';
}

@mixin bold {
  font-family: 'Gilroy-Bold';
}
