:root {
  --color-white: #ffffff;

  // Main colors
  --color-primary: #ff5521;
  --color-secondary: #402e29;
  --color-tertiary: #bd957a;
  --color-offwhite: #fdf9f6;

  //Neutrals
  --neutral-50: #f0f0ef;
  --neutral-100: #cfcfce;
  --neutral-200: #b8b8b7;
  --neutral-300: #989796;
  --neutral-400: #848381;
  --neutral-500: #656462;
  --neutral-600: #5c5b59;
  --neutral-700: #484746;
  --neutral-800: #383736;
  --neutral-900: #000000;

  //extras
  --black-80: rgba(0, 0, 0, 0.8);

  //css constants
  --section-width: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-offwhite);
  color: var(--neutral-900);
  font-size: 16px;
  font-family: 'Gilroy-Regular', sans-serif;
}

img,
a {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
