.socials {
  display: grid;
  grid-template-columns: 25% 48% 25%;
  gap: 1%;
  padding: 95px 0 59px 0;
  background-color: var(--color-offwhite);

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    padding: 92px 0 25px 0;
  }

  .middleWrap {
    flex: 1;
    .link {
      text-decoration: underline;
    }
  }

  .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icons {
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include tablet {
      justify-content: center !important;
      grid-row: 2 / span 3;
    }
  }

  p {
    @include tablet {
      text-align: center;
    }
  }
}
