.curveSliderContainer {
  position: relative;

  .swiper-wrapper {
    align-items: center;
  }
}
.swiper {
  padding-left: 40px !important;
  padding-right: 40px !important;
  @include tablet {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
